header {
  padding: 30px 20px 0 20px;
  position: relative; }
  header h1 {
    font-family: "lust-script";
    color: #F7F6AF;
    font-size: 6em;
    margin: 0;
    padding: 0; }

#red-bar {
  border-top: 3px solid #D62822;
  border-bottom: 3px solid #D62822;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0; }

#red-bar--inner {
  height: 20px;
  width: 100%;
  background-color: #D62822;
  position: relative; }
  #red-bar--inner .ribbon-bg {
    position: absolute;
    right: 353px;
    top: -15px;
    background-color: #1B2124;
    height: 55px;
    width: 40px; }
  #red-bar--inner .logo-img {
    position: absolute;
    left: 271px;
    top: -25px;
    width: 300px; }
  #red-bar--inner .ribbon-img {
    position: absolute;
    right: 200px;
    top: -78px; }

#now-playing {
  padding: 80px 0 20px 0;
  position: relative; }

#song-info {
  position: absolute; }
  #song-info h3, #song-info h4, #song-info h5 {
    margin: 0; }

#images-array-placeholder {
  min-height: 300px; }

#images-array {
  overflow: hidden;
  white-space: nowrap;
  left: -150px;
  position: absolute;
  padding-top: 210px; }
  #images-array .album-cover {
    opacity: 0.4;
    display: inline;
    margin: 5px 5px 20px 10px;
    box-shadow: 8px 8px 16px #1B2124;
    position: relative; }
    #images-array .album-cover .song-info {
      position: absolute;
      top: -450px;
      left: 0; }
      #images-array .album-cover .song-info h1, #images-array .album-cover .song-info h2, #images-array .album-cover .song-info h3, #images-array .album-cover .song-info h4, #images-array .album-cover .song-info h5 {
        margin: 0; }
      #images-array .album-cover .song-info h5 {
        font-size: 1.5em; }
      #images-array .album-cover .song-info h4 {
        font-size: 2em; }
      #images-array .album-cover .song-info h2 {
        font-size: 3em; }
    #images-array .album-cover img {
      width: auto;
      height: auto;
      max-width: 300px;
      min-width: 300px;
      vertical-align: middle; }
    #images-array .album-cover.placeholder {
      opacity: 0; }
    #images-array .album-cover.active {
      opacity: 1;
      min-width: 500px; }
      #images-array .album-cover.active img {
        width: auto;
        height: auto;
        max-width: 500px;
        min-width: 500px; }

#search {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  width: 734px; }
  #search #search-query {
    width: 719.32px;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: #F7F6AF; }
    #search #search-query:focus {
      outline-width: 0; }
    #search #search-query::-webkit-input-placeholder {
      color: rgba(247, 246, 175, 0.4); }

#search-result {
  position: absolute;
  top: 280px;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  width: 734px;
  overflow: auto; }
  #search-result ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
    #search-result ul li {
      margin-bottom: 13px;
      padding: 8px 20px;
      background: #22292d;
      border-radius: 5px; }
      #search-result ul li.active {
        background: #37444a; }
      #search-result ul li h3, #search-result ul li h5 {
        margin: 0; }
      #search-result ul li .result-artist {
        color: #D62822;
        font-size: smaller; }
      #search-result ul li .result-album {
        color: rgba(247, 246, 175, 0.6);
        font-size: smaller; }
      #search-result ul li .result-by {
        font-size: small;
        margin: 0 3px; }

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  font-size: 18px;
  font-family: "jubilat";
  color: #F7F6AF;
  background: #1B2124;
  margin: 0; }

main {
  height: 100%; }

#keyboard {
  position: absolute;
  bottom: 0;
  right: 20px; }
  #keyboard img {
    max-width: 600px; }

.hide {
  display: none; }

#flash {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: #468263;
  color: #97D6A6;
  padding: 10px;
  border-radius: 5px; }
