$white: #F7F6AF;
//$lightBlack: #33383a;
$black: #1B2124;
$red: #D62822;
$lightGreen: #97D6A6;
$darkGreen: #468263;

$cBackground: $black;
$cDimBackground: lighten($black, 3);
$cForeground: $white;
$cSubBackground: $darkGreen;
$cSubForeground: $lightGreen;
$cAccent: $red;