$topPadding: 30px;
$sidePadding: 20px;
$borderSize: 3px;

header {
  padding: $topPadding $sidePadding 0 $sidePadding;
  position: relative;

  h1 {
    @include fontDisplay;
    font-size: 6em;
    margin: 0;
    padding: 0;
  }
}


#red-bar {
  border-top: 3px solid $cAccent;
  border-bottom: 3px solid $cAccent;
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;

}
#red-bar--inner {
  height: 20px;
  width: 100%;
  background-color: $cAccent;
  position: relative;
  .ribbon-bg {
    position: absolute;
    right: 353px;
    top: -15px;
    background-color: $cBackground;
    height: 55px;
    width: 40px;
  }
  .logo-img {
    position: absolute;
    left: 271px;
    top: -25px;
    width: 300px;
  }
  .ribbon-img {
    position: absolute;
    right: 200px;
    top: -78px;
  }
}
