$imageHeight: 300px;

#now-playing {
  padding: 80px 0 20px 0;
  position: relative;
}

#song-info {
  position: absolute;
  h3, h4, h5 {
    margin: 0;
  }
}
#images-array-placeholder {
  min-height: $imageHeight;
}

#images-array {
  overflow: hidden;
  white-space: nowrap;
  left: -150px;
  position: absolute;
  padding-top: 210px;

  .album-cover {
    opacity: 0.4;
    display: inline;
    margin: 5px 5px 20px 10px;
    box-shadow: 8px 8px 16px $cBackground;
    position: relative;
    .song-info {
      h1,h2,h3,h4,h5 {
        margin: 0;
      }
      h5 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 2em;
      }
      h2 {
        font-size: 3em;
      }
      position: absolute;
//      top: -290px;
      top: -450px;
      left: 0;
    }
    img {
      @include proportionalSquareImage($imageHeight);
      vertical-align: middle;
    }


    &.placeholder {
      opacity: 0;
    }

    &.active {
      opacity: 1.0;
      min-width: 500px;
      img {
        @include proportionalSquareImage(500px);
      }
    }
  }
}
