$searchWidth: 734px;
#search {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  width: $searchWidth;

  #search-query {
    width: $searchWidth * .98;
    font-size: 2em;
    border: none;
//    border-bottom: 3px solid $cBackground;
    background-color: transparent;
    color: $cForeground;
    &:focus {
      outline-width: 0;
    }
    &::-webkit-input-placeholder {
     color: transparentize($cForeground, 0.6);
    }
  }
}

#search-result {
  position: absolute;
  top: 280px;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  width: $searchWidth;
  overflow: auto;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

    li {
      margin-bottom: 13px;
      padding: 8px 20px;
      background: $cDimBackground;
      border-radius: 5px;

      &.active {
        background: lighten($cDimBackground, 10);
      }

      h3, h5 {
        margin: 0;
      }
      .result-artist {
        color: $cAccent;
        font-size: smaller;
      }
      .result-album {
        color: transparentize($cForeground, 0.4);
        font-size: smaller;
      }
      .result-by {
        font-size: small;
        margin: 0 3px;
      }

    }
  }
}