@mixin fontDisplay {
  font-family: "lust-script";
  color: $cForeground;
}

@mixin fontMono {
  font-family: "ocr-a-std";
  color: $cAccent;
}

@mixin fontParagraph {
  font-size: 18px;
  font-family: "jubilat";
  color: $cForeground;
}