@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/type';
@import 'partials/header';
@import 'partials/nowPlaying';
@import 'partials/search';

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  @include fontParagraph;
  background: $cBackground;
  margin: 0;
}

main {
  height: 100%;
}

#keyboard {
  position: absolute;
  bottom: 0;
  right: 20px;
  img {
    max-width: 600px;
  }
}

.hide {
  display: none;
}

#flash {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: $cSubBackground;
  color: $cSubForeground;
  padding: 10px;
  border-radius: 5px;
}